.smallback a {
  color: var(--navbartext3);
}
.smallback {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
  font-size: 14px;
}
.main {
  height: 130vh;
  width: 90%;
  margin: auto;
  background-color: white;
  display: flex;
}
.leftmain {
  height: 100%;
  width: 80%;
  display: flex;
}
.rightmain {
  height: 100%;
  width: 19%;
}
.leftmain .mid {
  color: #000;
}

.gallery > img {
  height: 40px;
  width: 40px;
  border: 1px solid #e77600;
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}
.gallery {
  display: flex;
  text-align: center;
}
.gallery p {
  color: #565959;
  font-size: 14px;
}
.bigphoto {
  width: 613px;
  padding: 0 15%;
}
.bigphoto img {
  width: 100%;
}
.itemname > span {
  font-size: 24px;
}
.specs {
  display: flex;
  font-size: 14px;
}
ul.specs1 {
  font-weight: bold;
}
.specs ul.specs1 li {
  margin-left: 0;
}
.specs ul {
  list-style-type: none;
}
.aboutitem ul {
  list-style: disc;
}
.price-text {
  font-size: 18px;
  color: var(--pricetext);
}
.brand {
  color: var(--brand);
  text-decoration: none;
}
.main hr {
  margin: 14px 0;
}
.gray {
  color: gray;
}
.margin10 {
  margin: 10px 0;
}
.specs ul li {
  margin: 10px 20px;
}
.font16 {
  font-size: 16px;
}
.aboutitem ul li {
  margin: 8px;
  font-size: 14px;
}
