.rightmain {
  width: 15%;
  height: 1000px;
  display: flex;
  flex-direction: column;
}
.sidenavbar {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0 20px;
}
.sidenavbar p,
.sidenavbar h2,
.sidenavbar i,
.select-container {
  margin: 10px 0;
}

.select-container {
  font-size: 11px;
  display: flex;
  align-items: center;
}
.select-container select {
  width: 60px;
  text-align: center;
  border-radius: 3px;
}
.select-container label {
  position: absolute;
}
.checkbox-container {
  display: flex;
}
.add-btn {
  font-size: 14px;
  padding: 6px 10px;
  margin-bottom: 12px;
  width: 100%;
  text-align: left;
  background-color: #ebedf0;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
.new-used {
  padding: 10px 0px 10px 10px;
  margin: 20px 0;
  border: 1px solid gray;
  border-radius: 5px;
}
.new-used i {
  cursor: pointer;
}
.new-used p {
  font-size: 14px;
}
.share {
  font-size: 20px;
}
.share i {
  width: 20px;
  height: 20px;
}
.share :first-child {
  color: rgb(108, 120, 120);
}

.share :nth-child(2) {
  color: blue;
}
.share :nth-child(3) {
  color: rgb(104, 173, 211);
}
.share :last-child {
  color: rgb(223, 34, 9);
}
.btn {
  border-radius: 20px;
  border: solid 5px transparent;
}
.Preorder {
  background-color: var(--Preorder);
  width: 100%;
  padding: 4px 0;
}
.Preorder:hover,
.Preordersmall:hover {
  background-color: var(--Preorder-Hover);
  cursor: pointer;
}
.seller {
  display: flex;
  align-items: center;
}
.sellercontainer:hover .name {
  color: var(--Preorder);
}
p {
  padding: 0 10px;
}
.Preordersmall {
  background-color: var(--smallbtn);
  margin-left: auto;
}
.othersellers {
  margin: 30px 0;
  border: 1px solid gray;
  border-radius: 10px;
}
.othersellers .title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.sellcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sellbtn {
  font-size: 12px;
  padding: 7px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 3px 0.5px #bbb8;
}
.green {
  color: rgb(0, 118, 0);
}
.gray i {
  color: gray;
  margin: 5px;
}
